<div class="tour-details-container" *ngIf="selectedTour() as tour">
    <h2>Tour Details: {{ tour.name }}</h2>
    <div class="tour-meta">
    <span><strong>From:</strong> {{ tour.from }}</span>
    <span><strong>To:</strong> {{ tour.to }}</span>
    <span><strong>Distance:</strong> {{ tour.distance }} km</span>
    <span><strong>Transport:</strong> {{ tour.transportType }}</span>
    </div>
<p class="tour-description">{{ tour.description }}</p>
<div class="map-container">
    <div class="map-placeholder">
        <p>Map of the tour will be displayed here.</p>
    </div>
    </div>
</div>

